In [1]:
## Data Cleaning

In [2]:
import pandas as pd

In [5]:
housing=pd.read_csv('melbourne.csv')

In [6]:
housing.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0

In [7]:
housing.shape

(23547, 21)

In [8]:
housing.isnull().sum(axis=1)

0        3
1        2
2        0
3        3
4        0
        ..
23542    2
23543    8
23544    4
23545    1
23546    2
Length: 23547, dtype: int64

In [9]:
len(housing)

23547

In [10]:
(housing.isnull().sum(axis=0)/23547)*100

Suburb            0.000000
Address           0.000000
Rooms             0.000000
Type              0.000000
Price            21.875398
Method            0.000000
SellerG           0.000000
Date              0.000000
Distance          0.004247
Postcode          0.004247
Bedroom2         19.030025
Bathroom         19.042766
Car              19.645815
Landsize         26.062768
BuildingArea     57.455302
YearBuilt        50.991634
CouncilArea      33.511700
Lattitude        18.278337
Longtitude       18.278337
Regionname        0.004247
Propertycount     0.004247
dtype: float64

In [16]:
housing=housing.drop(columns=['BuildingArea','YearBuilt','Landsize','CouncilArea'])

In [18]:
housing.shape

(23547, 17)

In [19]:
housing.isnull().sum(axis=1)>4

0        False
1        False
2        False
3        False
4        False
         ...
23542    False
23543    False
23544    False
23545    False
23546    False
Length: 23547, dtype: bool

In [20]:
housing=housing[housing.isnull().sum(axis=1)>4]

In [21]:
housing.shape

(4278, 17)

In [22]:
housing=housing[housing.isnull().sum(axis=1)<=4]

In [23]:
housing.shape

(0, 17)

In [24]:
housing.head()

Empty DataFrame
Columns: [Suburb, Address, Rooms, Type, Price, Method, SellerG, Date, Distance, Postcode, Bedroom2, Bathroom, Car, Lattitude, Longtitude, Regionname, Propertycount]
Index: []

In [25]:
housing=pd.read_csv('melbourne.csv')

In [26]:
housing=housing[housing.isnull().sum(axis=1)>4]

In [27]:
housing.shape

(4684, 21)